.sightingsPage {
    width: 100%;
    height: 100%;

    /* Flexbox to center everything H and V */
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--grey);

    display: block;
}

.sightingsFormBox {
    width: 90%;
    height: auto;
    background-color: var(--navy);
    border-radius: 5px;
    margin: 40px auto 10px auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.displayTable {
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
    top: auto;
    width: 75%;
    height: 25%;
    background-color: lightgrey;

    border-radius: 5px;

    display: inline; 
}

.sightingForm {
    margin: 10px 10px 10px 10px;
}

#saveBtn {
    display: flex;
    margin: 20px auto 5px auto;
}

#saveBtn {
    display: flex;
    margin: 20px 0 5px auto;
    background-color: var(--orange);
}